body {
    width: 300px; /* Adjust width as needed for your design */
    height: auto; /* Adjust height to auto to accommodate new elements */
    padding: 10px;
    font-family: Arial, sans-serif;
}
#inputContainer {
    display: flex; /* Use flexbox for easy horizontal alignment */
    margin-top: 10px;
}
input[type="text"], input[type="file"] {
    flex-grow: 1; /* Allows the inputs to grow and fill available space */
    padding: 8px 10px; /* Adequate padding for touch and aesthetics */
    font-size: 16px; /* Enhanced readability */
    border: 1px solid #ccc; /* Subtle border for the inputs */
    border-radius: 5px; /* Rounded corners */
    margin-right: -1px; /* Removes the gap between input and button */
}
#fileInputContainer {
   
    margin-top: 10px;
    font-size:15px;
}
#fileInputLabel {
    font-size: 14px;
    border:1px solid #ccc;
    border-radius: 2px;
    padding: 4px;

}

#deleteFileBtn{
    color: red;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    padding: 3px;
    
}

#fileContainer {
    display: inline-block;
    background-color: #DCEBE8;
    font-size: 16px;
}

#uploadBtn{

    font-size: 14px;
    border:1px solid #ccc;
    border-radius: 2px;
    padding: 4px;
    
}

#enableContainer {
    margin-top: 7px;
    display: flex;
    align-items: center; /* Aligns items vertically */
    gap: 8px; /* Adds some space between the label and checkbox */
}

#add {
    margin-left: 10px;
    padding: 8px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
}
#add:hover {
    background-color: #45a049;
}

#keywordsList {
    margin-left:-32px;
}

#keywordsList li {
    font-size: 16px;
    list-style: none;
    margin-top: 5px;
    background-color: #f0f0f0;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}
.deleteButton {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-left: 5px;
    vertical-align: middle;
}
.deleteButton:hover {
    color: darkred;
}

#deleteAll {
    padding: 8px 10px;
    font-size: 12px;
    background-color: #f44336; /* Red color for delete all action */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}
#deleteAll:hover {
    background-color: #d32f2f;
}

#fileUploadContainer {
    margin-top: 5px; /* Space between file upload and other elements */
}

input[type="file"] {
    margin-bottom: 3px; /* Space between the file input and the upload button */
}
